body {
    background-color: #FEFBEA;
    font-family: monospace;
    color: #51361A;
}

h1,
p {
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 80px;
}

p {
    font-size: 30px;
}

h2 {
    color: #51361A;
}